{% extends 'index.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block style %}{% endblock %}
{% block scripts %}
<script
    src="https://www.paypal.com/sdk/js?client-id=Ad-FteXT0_V-dUi3hzwkkW37SLwsQaJfNiScNwLS2NFpmX49QZWxt8BHl-7KnX0rCCwDVB7tYlb7ZRF4">
    </script>
<script src="{% static 'js/form-data-requests.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/update-profile.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a class="text-decoration-none" href="{% url 'demo:demo-home' %}">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        User Profile
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4" id="profile-card">

        </div>
        <div class="col-lg-8">
            <div class="card mb-4" id="profile-details">

            </div>
        </div>
    </div>
</div>
<div id="update-modal-div"></div>
<div id="add-money-modal-div"></div>
{% endblock %}
