{% extends 'index.html' %}
{% load static %}
{% block title %}Signup {% endblock %}
{% block style %}{% endblock %}
{% block scripts %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center my-5 align-items-center">
    <form class="mx-3 card p-5 py-5 shadow">
        <!-- Username input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="form2Example1">Username</label>
            <input type="text" required id="form2Example1" name="username" class="form-control" />
        </div>
        <!-- Email input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="form2Example1">Email address</label>
            <input type="email" required id="form2Example1" name="email" class="form-control" />
        </div>
        <!-- Age input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="form2Example1">Age</label>
            <input type="number" min="18" max="100" required id="form2Example1" name="age" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" required id="form2Example2" name="password" class="form-control" />
        </div>
        <!-- Confirm Password input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" required id="form2Example2" name="confirm_password" class="form-control" />
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary col-12 mb-2">Sign
            up</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="{% url 'demo:login' %}">Login</a></p>
        </div>
    </form>
</div>
{% endblock %}
