{%load static%}
<div id="sidebar-wrapper" class="d-flex flex-column position-fixed p-3 overflow-y-auto text-bg-dark"
    style="height: 100vh;">
    <a href="{% url 'demo:demo-home' %}"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="{% static 'img/rewards.png' %}" height="32" width="32" alt="">
        <span class="fs-4">Rewards</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="{% url 'demo:demo-home' %}"
                class="nav-link mb-3 {% if request.path == '/demo/' %}active{%else%}text-dark bg-body-secondary{%endif%}">
                <i class="fa-solid fa-ticket me-2"></i>
                Lotteries
            </a>
        </li>
        <li>
            <a href="{% url 'demo:create-lottery' %}"
                class="nav-link mb-3 {% if request.path == '/demo/create/' %}active{%else%}text-dark bg-body-secondary{%endif%}">
                <i class="fa fa-plus-circle me-2"></i>
                Create a New Lottery
            </a>
        </li>
        <li>
            <a href="{% url 'demo:transactions' %}"
                class="nav-link mb-3 {% if request.path == '/demo/transactions/' %}active{%else%}text-dark bg-body-secondary{%endif%}">
                <i class="fa fa-list me-2"></i>
                Transactions
            </a>
        </li>
        <li>
            <a href="{% url 'demo:winning' %}"
                class="nav-link mb-3 {% if request.path == '/demo/winning/' %}active{%else%}text-dark bg-body-secondary{%endif%}">
                <i class="fa fa-award me-2"></i>
                Winning
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <button role="dialog"
            class="btn btn-link d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'img/profile.jpg' %}" id="dropdown-profile-img" alt="" width="32" height="32"
                class="rounded-circle me-2">
            <strong id="dropdown-profile-name" class="text-capitalize">Options</strong>
        </button>
        <ul class="dropdown-menu text-small shadow" id="sidebar-dropdown">
            <li><a class="dropdown-item" href="" id="dropdown-profile-link">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'demo:demo-home' %}">Lotteries</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" role="button" id="logoutBtn">Sign out</a></li>
        </ul>
    </div>
</div>
